body{
    padding: 0 10vw 0 10vw;
    z-index: 1;
    font-family: sans-serif;
}

a{
    display:inline-block;

    color: black;
    font-size: 2vh;
    text-decoration: none;
}

header{
    height: 4vh;

    border: 2px black solid;
}
header>nav{
    display: flex;

    width: 100%;
}

header a{
    flex-grow: 1;

    line-height: 4vh;
    text-align: center;
}

div {
    width: auto;
    height: 24vh;
    margin: 5vh 0 5vh 0;

    border: 2px black solid;
}




footer{
    height: 4vh;
    margin: 5vh 0 0 0;

    border: 2px black solid;
}

footer>nav{
    display: flex;

    width: 100%;
}

footer a{
    flex-grow: 1;

    line-height: 4vh;
    text-align: center;
}
