body{
    z-index: 1;
    font-family: sans-serif;
}

a{
    display:inline-block;

    color: black;
    font-size: 2vh;
    text-decoration: none;
}

header{
    height: 4vh;

    border: 2px black solid;
}
header>nav{
    display: flex;

    width: 100%;
}

header a{
    flex-grow: 1;

    line-height: 4vh;
    text-align: center;
}


main{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}


#slider{
    display: flex;

    height: 38vh;

    margin: 5vh 2vw 0 0;

    border: 2px black solid;
}

#slider>ul{
    display: flex;
    position: absolute;

    width: 90%;

    padding: 0 1vw 0 2vw;
    margin: 3vh 0 0 -11.5vw;

    list-style-type: none;
}

#slider li{
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;

    text-align: center;
    color: white;
    -webkit-text-stroke: 1px black;

    transition: opacity 2s, margin 2s;
    border: 2px black solid;
}

#slider li>img{
    position: absolute;
    z-index: -1;

    opacity: 0.8;
    text-align: center;
}

#slider li>h5{
    display: none;
}
#slider li>button{
    position: absolute;
}

#slider>button{
    position: absolute;
    z-index: 10;

    width: 2vw;
    height: 6vh;
}

#slider>button>img{
    width: 1.8vw;
    height: 5.5vh;

    margin: -0.1vh 0 0 -0.5vw;
}


#topRated{
    height: auto;

    margin: 10vh 2vw 0 0;

    text-align: center;

    border: 2px black solid;
}

#topRated>ul{
    display: flex;
    flex-wrap: wrap;

    width: 98%;

    padding: 0 1vw 0 1vw;
    margin: 0;

    list-style-type: none;
}

#topRated li{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    margin: 1vh 1vw 1vh 1vw;

    text-align: center;
    border: 2px black solid;
}

#topRated li>img{

    margin: 1vw;

    border: 2px black solid;
}

#topRated li>h3{
    display: none;
}
#topRated button{

    margin: 2vh 0 2vh 0;
}


#best{
    display: block;
    z-index: 12;

    height: auto;
    margin-top: 5vh;

    text-align: center;
    border: 2px black solid;
}

#best>ul{
    display: flex;
    flex-direction: column;

    padding: 0;

    list-style-type: none;
}

#best li{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;

    margin: 1vh 0 1vh 1vw;

    border: 2px black solid;
}
#best li>img{

    margin: 1vh;

    border: 2px black solid;
}


#feed{
    display: block;

    margin: 5vh 0 0vh 0;

    border: 2px black solid;
}


footer{
    height: 4vh;
    margin: 5vh 0 0 0;

    border: 2px black solid;
}

footer>nav{
    display: flex;

    width: 100%;
}

footer a{
    flex-grow: 1;

    line-height: 4vh;
    text-align: center;
}


#modalWindow{
    display: none;
    flex-direction: column;
    align-items: center;
    text-align: center;

    position: fixed;
    z-index: 100;

    width: 0vh;


    background-color: white;
    border: 2px black solid;
    box-shadow: rgb(39, 37, 37) -5px 5px 5px;
    transition: width 1s, height 1s;
}

#modalWindow>button{

    color: white;
    background-color: rgb(221, 54, 54);
}

#modalWindow img{
    display: block;

    border: 2px black solid;
}

#modalWindow h3{
    font-size: 4vh;
    margin: 2vh;
}

#modalWindow h5{
    font-size: 3vh;
    margin: 2vh;
}

@media only screen and (max-width: 450px) {
    #slider{
        height: 32vh;
    }
    #slider ul{
        width: 160vw;
        margin: 0 0 0 -65vw;
    }
    
    #slider li{
        width: 30vw;
        height: 30vw;
        margin: 0 1vw 0 1vw;

        font-size: 2.5vh;
    }
    
    #slider li>img{
        width: 28.5vw;
        height: 30vw;
    }
    

    #slider li>button{
        height: 8vh;
        width: 17vw;
        margin: 20vh 0 0 0;
    }
    
    #slider>button:first-of-type{
        margin: 10vh 0 0 1vw;
    }
    #slider>button:last-of-type{
        margin: 10vh 0 0 87.5vw;
    }
    
    #topRated li{
        width: 40vw;
        height: 18vw;
    }
    
    #topRated li>img{
        width: 15vw;
        height: 15vw;
    }

    #topRated li>h5{
        font-size: 1.8vh;
    
        margin: 1vw 6vw 1vw 1vw;
    }
    
    
    
    #best li{
        width: 92vw;
        height: 16vh;
    }
    #best li>img{
        width: 12vh;
        height: 12vh;
    }

    #best li>h5{
        width: 60vw;
    }
    

    #feed{
    
        width: 100vw;

    }

    
    #modalWindow{
        margin: 5vh 0 0 2vw;
    }
    
    #modalWindow>button{
        width: 7.5vw;
        height: 7.5vw;
        margin: 1vh 1vh 1vh 80vw;
    }
    
    #modalWindow img{
        width: 60vw;
        height: 60vw;
    }
}

@media only screen and (min-width: 1024px){
    body{
        margin: 0 10vw 0 10vw;
    }

    main{
        height: 110vh;
    }
    

    
    #slider{
        width: 60vw;
    }
    
    #slider li{
        width: 15vw;
        height: 15vw;
        margin: 0 0.5vw 0 0.5vw;

        font-size: 3.5vh;
    }
    
    #slider li>img{
        width: 15vw;
        height: 15vw;
    }
    

    #slider li>button{
        height: 5vh;
        width: 12vw;
        margin: 24vh 0 0 0;
    }
    #slider>button:first-of-type{
        margin: 16vh 0 0 1vw;
    }
    #slider>button:last-of-type{
        margin: 16vh 0 0 56.5vw;
    }
    


    #topRated{
        width: 60vw;
    }
    
    #topRated li{
        width: 17vw;
        height: 6vw;
    }
    
    #topRated li>img{
        width: 4vw;
        height: 4vw;
    }

    #topRated li>h5{
        margin: 0.4vw 6vw 0.4vw 1vw;
    }
    
    

    #best{
        width: 16vw;
    }
    
    #best li{
        width: 14vw;
        height: 10vh;
    }
    #best li>img{
        width: 7.5vh;
        height: 7.5vh;
    }

    #best li>h5{
        width: 8vw;
    }
    
    #feed{
    
        width: 16vw;

    }
    
    #modalWindow{
        margin: 5vh 0 0 18vw;
    }
    
    #modalWindow>button{
        width: 2vw;
    height: 2vw;
    margin: 1vh 1vh 1vh 40vw;
    }
    
    #modalWindow img{
        width: 20vw;
        height: 20vw;
    }
}

@media only screen and (min-width: 451px) and (max-width: 1023px){
    #slider ul{
        margin: 5vh 0 0 5vw;
    }
    
    #slider li{
        width: 15vw;
        height: 15vw;
        margin: 0 0.5vw 0 0.5vw;

        font-size: 3.5vh;
    }
    
    #slider li>img{
        width: 15vw;
        height: 15vw;
    }
    

    #slider li>button{
        height: 8vh;
        width: 12vw;
        margin: 24vh 0 0 0;
    }
    #slider>button:first-of-type{
        margin: 16vh 0 0 1vw;
    }
    #slider>button:last-of-type{
        margin: 16vh 0 0 92.5vw;
    }
    

    
    #topRated li{
        width: 28.5vw;
        height: 10vw;
    }
    
    #topRated li>img{
        width: 8vw;
        height: 8vw;
    }

    #topRated li>h5{
        margin: 0.4vw 6vw 0.4vw 1vw;
    }
    
    #best>ul{
        flex-direction: row;
    }
    #best li{
        width: 30vw;
        height: 18vh;
    }
    #best li>img{
        width: 14vh;
        height: 14vh;
    }

    #best li>h5{
        width: 8vw;
    }
    
    #feed{
    
        width: fit-content;
        margin-left: 15vw;

    }
    
    #modalWindow{
        margin: 5vh 0 0 15vw;
    }
    
    #modalWindow>button{
        width: 4vw;
        height: 4vw;
        margin: 1vh 1vh 1vh 55vw;
    }
    
    #modalWindow img{
        width: 30vw;
        height: 30vw;
    }
}

