body{
    margin: 0 10vw 0 10vw;
    z-index: 1;
}

a{
    display:inline-block;

    color: black;
    font-size: 2vh;
    text-decoration: none;
}

header{
    height: 4vh;

    border: 2px black solid;
}
header>nav{
    display: flex;

    width: 100%;
}

header a{
    flex-grow: 1;

    line-height: 4vh;
    text-align: center;
}


main{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    height: 90vh;
}


#slider{
    display: flex;


    height: 38vh;
    width: 60vw;

    margin: 5vh 2vw 0 0;

    border: 2px black solid;
}

#slider>ul{
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;

    width: 85%;

    padding: 0 1vw 0 1vw;

    list-style-type: none;
}

#slider li{
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    scroll-snap-align: start;
    

    width: 15.6vw;
    height: auto;
    margin: 0 1vw 0 1vw;


    text-align: center;
    border: 2px black solid;
}

#slider li>h5{
    display: none;
}


#slider>a{
    width: 2vw;
    height: 6vh;

    margin: 16vh 1vw 0 1vw;

    border: 2px black solid;
}


#topRated{
    height: auto;
    width: 60vw;

    margin: 5vh 2vw 0 0;

    text-align: center;

    border: 2px black solid;
}

#topRated>ul{
    display: flex;
    flex-wrap: wrap;

    width: 98%;

    padding: 0 1vw 0 1vw;
    margin: 0;

    list-style-type: none;
}

#topRated li{
    display: block;

    width: 17vw;
    height: 6vw;
    margin: 1vh 1vw 1vh 1vw;

    text-align: center;
    border: 2px black solid;
}

#topRated li>img{
    float:left;

    width: 4vw;
    height: 4vw;
    margin: 1vw;

    border: 2px black solid;
}
#topRated li>h5{
    float: left;

    margin: 0.4vw 6vw 0.4vw 1vw;
}
#topRated button{

    margin: 2vh 0 2vh 0;
}


#best{
    display: block;

    height: 40vh;
    width: 16vw;

    margin-top: 5vh;

    border: 2px black solid;
}

#best>ul{
    display: flex;
    flex-direction: column;

    height: 24vh;

    padding: 0;

    list-style-type: none;
}

#best li{
    display: block;

    width: 14vw;
    height: 10vh;
    margin: 1vh 0 1vh 1vw;

    text-align: center;
    border: 2px black solid;
}
#best li>img{
    float: left;

    width: 6vw;
    height: 6vh;
    margin: 1vh;

    border: 2px black solid;
}


#feed{
    display: block;

    height: 32vh;
    width: 16vw;

    margin-top: 5vh;

    border: 2px black solid;
}


footer{
    height: 4vh;

    border: 2px black solid;
}

footer>nav{
    display: flex;

    width: 100%;
}

footer a{
    flex-grow: 1;

    line-height: 4vh;
    text-align: center;
}


#modalWindow{
    display: none;
    position: fixed;
    z-index: 10;

    width: 90vh;
    height: 90vh;
    margin: 5vh 0 0 18vw;

    text-align: center;

    background-color: white;
    border: 2px black solid;
    box-shadow: rgb(39, 37, 37) -5px 5px 5px;
}

#modalWindow>button{
    float: right;
    margin: 1vh 1vh 1vh 1vh;

    color: white;
    background-color: rgb(221, 54, 54);
}