body{
    z-index: 1;
    font-family: sans-serif;
}

a{
    display:inline-block;

    color: black;
    font-size: 2vh;
    text-decoration: none;
}

header{
    height: 4vh;

    border: 2px black solid;
}
header>nav{
    display: flex;

    width: 100%;
}

header a{
    flex-grow: 1;

    line-height: 4vh;
    text-align: center;
}



#searchDiv form{
    display: flex;
    flex-wrap: wrap;
}


#searchDiv label{
    display: flex;
    width: 100%;
    height: auto;
    margin: 2.5vh 0 2.5vh 0;
}

#searchDiv h4{
    height: auto;
    margin: 2.5vh 0 2.5vh 0;

    line-height: 5vh;
}

#searchDiv input{
    flex-grow: 1;
    height: 5vh;
    margin: 2.5vh 0 2.5vh 0;
}



#searchResult{
    display: flex;
    flex-direction: column;

    padding: 0;

    list-style-type: none;
}

#searchResult li{
    display: none;
    flex-direction: column;
    flex-wrap: wrap;

    width: auto;

    margin: 2.5vh 0 2.5vh 0;

    border: black 2px solid;
}

#searchResult li>img{
    display: block;

    width: 35vh;
    height: 35vh;

    margin: auto 2vw auto 2vw;

    border: black 2px solid;
}

#searchResult li>h5, #searchResult li>a{
    display: block;

    margin: 2vh 2vw 2vh 0vw;
}

#searchResult h5.info{
    display: none;
}


footer{
    height: 4vh;
    margin: 5vh 0 0 0;

    border: 2px black solid;
}

footer>nav{
    display: flex;

    width: 100%;
}

footer a{
    flex-grow: 1;

    line-height: 4vh;
    text-align: center;
}


#modalWindow{
    display: none;
    flex-direction: column;
    align-items: center;
    text-align: center;

    position: fixed;
    z-index: 100;

    width: 0vh;


    font-size: 3vh;
    
    background-color: white;
    border: 2px black solid;
    box-shadow: rgb(39, 37, 37) -5px 5px 5px;
    transition: width 1s, height 1s;
}

#modalWindow>button{

    color: white;
    background-color: rgb(221, 54, 54);
}

#modalWindow img{
    display: block;

    border: 2px black solid;
}

#modalWindow h3{
    font-size: 4vh;
    margin: 2vh;
}

#modalWindow h5, #modalWindow a{
    display: block;
    
    font-size: 3vh;
    margin: 2vh;
}


@media only screen and (max-width: 450px) {
    #searchDiv h4{
        width: 40vw;
    }
    #searchDiv button{
        width: 30vw;
        height: 5vh;
        margin: 2.5vh 0 2.5vh 35vw;
    }

    #searchResult li{
        flex-wrap: nowrap;
        align-items: center;
        text-align: center;

        height: fit-content;
    }

    #searchResult li>h5, #searchResult li>a, #searchResult li>h3{
    
        width: 95vw;

    }
    #searchResult button{
        width: 15vw;
        height: 8vh;
    }

    
    #modalWindow{
        margin: 5vh 0 0 2vw;
    }
    
    #modalWindow>button{
        width: 7.5vw;
        height: 7.5vw;
        margin: 1vh 1vh 1vh 80vw;
    }
    
    #modalWindow img{
        display: none;
    }
}

@media only screen and (min-width: 1024px){
    body{
        padding: 0 10vw 0 10vw;
    }

    #searchDiv h4{
        width: 15vw;
    }
    #searchDiv button{
        width: 10vw;
        height: 5vh;
        margin: 2.5vh 0 2.5vh 35vw;
    }

    #searchResult li{
        height: 40vh;
    }

    #searchResult li>h5, #searchResult li>a, #searchResult li>h3{
    
        width: 50vw;

    }
    #searchResult button{
        width: 15vw;
        height: 5vh;
    }

    
    #modalWindow{
        margin: 5vh 0 0 -5vw;
    }
    
    #modalWindow>button{
        width: 2vw;
    height: 2vw;
    margin: 1vh 1vh 1vh 85vw;
    }
    
    #modalWindow img{
        width: 20vw;
        height: 20vw;
    }
}

@media only screen and (min-width: 451px) and (max-width: 1023px){
    #searchDiv h4{
        width: 20vw;
    }

    #searchDiv button{
        width: 20vw;
        height: 5vh;
        margin: 2.5vh 0 2.5vh 35vw;
    }

    #searchResult li{
        height: 47vh;
    }
    
    #searchResult li>h5, #searchResult li>a, #searchResult li>h3{
    
        width: 60vw;
    
    }
    #searchResult button{
        width: 24vw;
        height: 5vh;
    }


    #modalWindow{
        margin: 5vh 0 0 05vw;
    }
    
    #modalWindow>button{
        width: 6vw;
        height: 6vw;
        margin: 1vh 1vh 1vh 83vw;
    }
    
    #modalWindow img{
        width: 30vw;
        height: 30vw;
    }
}

