body{
    z-index: 1;
    font-family: sans-serif;
}

a{
    display:inline-block;

    color: black;
    font-size: 2vh;
    text-decoration: none;
}

header{
    height: 4vh;
}
header>nav{
    display: flex;

    width: 100%;
}

header div{
    z-index: 1000;

    height: 4vh;
    width: 25%;

    line-height: 4vh;
    text-align: center;

    background-color: white;
    border: 2px black solid;
}

header div:nth-of-type(3) a{
    display: none;

    margin: 0 0 2vh 0;
}
header div:nth-of-type(3):hover a{
    display: block;
}
header div:nth-of-type(3):hover{
    height: auto;
}

header a, footer a{
    width: 100%;
}

header a:hover, footer a:hover{
    background-color: lightgray;
}


#searchDiv{
    align-items: center;
}

#searchDiv form{
    display: flex;
    flex-wrap: wrap;
}

#searchDiv label:first-child, #searchDiv label:nth-child(2) {
    display: flex;
}

#searchDiv input[type = checkbox]{
    flex-grow: 0;
    width: 8vw;
    height: initial
}


#searchDiv label{
    display: none;
    align-items: center;

    width: 100%;
    margin: 2.5vh 0 2.5vh 0;
}


#searchDiv input{
    flex-grow: 1;
    height: 5vh;
}



#searchResult{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    padding: 0;

    list-style-type: none;
}

#searchResult>li{
    display: none;

    margin: 2.5vh 0 2.5vh 0;

    border: black 2px solid;
}

#searchResult ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    margin: 2.5vh 0 2.5vh 0;
    padding: 0;
}

#searchResult ul>li{
    display: none;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;


    margin: 3vh auto 3vh auto;

    border: black 2px solid;
}

#searchResult ul>li>img{
    display: block;

    width: 18vh;
    height: 18vh;

    margin: 1vh 2vw auto 2vw;

    border: black 2px solid;
}

#searchResult li>h5, #searchResult li>a{
    display: block;

    margin: 2vh 2vw 2vh 0vw;
}

#searchResult h5.info{
    display: none;
}

#searchResult button:first-of-type{
    margin-left: auto;
}
#searchResult button:last-of-type{
    margin-right: auto;
}




footer{
    height: 4vh;
    margin: 5vh 0 0 0;

    border: 2px black solid;
}

footer>nav{
    display: flex;

    width: 100%;
}

footer a{
    flex-grow: 1;

    line-height: 4vh;
    text-align: center;
}




@media only screen and (max-width: 450px) {
    #searchDiv h4{
        width: 40vw;
    }
    #searchDiv button{
        width: 30vw;
        height: 5vh;
        margin: 2.5vh 0 2.5vh 35vw;
    }


    #searchResult ul>li{
        width: 80vw;
    }

}


@media only screen and (min-width: 1024px){
    body{
        padding: 0 10vw 0 10vw;
    }

    #searchDiv h4{
        width: 10vw;
    }
    #searchDiv button{
        width: 10vw;
        height: 5vh;
        margin: 2.5vh 0 2.5vh 35vw;
    }

    #searchResult ul>li{
        width: 30vw;
    }

    
}


@media only screen and (min-width: 451px) and (max-width: 1023px){
    #searchDiv h4{
        width: 20vw;
    }

    #searchDiv button{
        width: 20vw;
        height: 5vh;
        margin: 2.5vh 0 2.5vh 35vw;
    }


    #searchResult ul>li{
        width: 36vw;
    }

}

